.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;

  &__pending {
    font-size: 20px;
    color: gray;
  }

  &__clear {
    background-color: #8f4de6;
    color: white;
    border: none;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
  }
}
